# Java
*.class
*.jar
*.war
*.ear

# Idea
.idea/**/workspace.xml
.idea/**/tasks.xml

# Gradle
/build
.gradle

# globs
*.DS_Store
*.tar.gz
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# jar
*.jar

# not ignore
!gradle/wrapper/**